In [8]:
class SqlExpression:
    def __init__(self, operator, *operands):
        self.operator = operator
        self.operands = operands

    @classmethod
    def Equals(cls, lhs, rhs):
        return cls('=', lhs, rhs)

    def to_sql(self):
        """
        Uses the operator along with operands to
        render a valid SQL string that will compute
        this expression.
        """
        # this won't work for everything, but for the first one
        return ' '.join(map(str,
            (self.operands[0].to_sql(), self.operator, self.operands[1])))

class SqlVariable:
    def __init__(self, name):
        self.name = name
    
    def __eq__(self, other):
        return SqlExpression.Equals(self, other)
    
    def to_sql(self):
        return self.name

X = SqlVariable('x')

def test_sql_equality_expression():
    #x is an instance of a class
    expr = (X == 3).to_sql()
    assert expr == 'x = 3'

def test_sql_gt():
    expr = (X > 15).to_sql()
    assert expr == 'x > 15'

def test_sql_multiplication():
    expr = ((X * 2) > 12).to_sql()
    assert expr == '(x * 2) > 12'

def test_sql_json_property_access():
    expr = (X.country == 'Argentina').to_sql()
    assert expr == "x->'country' = 'Argentina'"
    
def test_combines_with_other_vars():
    col1 = SqlVariable('col1')
    col2 = SqlVariable('col2')
    expr = ((X + col1) > col2).to_sql()
    assert expr == '(x + col1) > col2'
"""
SELECT * FROM my_table
WHERE (x + col1) > col2
"""

In [9]:
(X == 3).to_sql()

'x = 3'